@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="w-50 text-center text-primary bg-dark text-lg-center py-5 display-3 mx-auto my-auto">
        <a asp-controller="Tickets" asp-action="Index">View all tickets</a>
    </div>
</div>
