@model Cinema.Domain.DomainModels.Order

<div class="container">

    <p>
        <a class="btn btn-success">@Model.User.UserName</a>
    </p>

    @for (int i = 0; i < Model.Tickets.Count(); i++)
    {
        var item = Model.Tickets.ElementAt(i).SelectedTicket;

        if (i % 3 == 0)
        {
            @:<div class="row">
            }

            <div class="col-md-3 m-4">
                <div class="card" style="width: 18rem; height: 10rem;">
                    
                    <div class="card-body">
                        <h3>@item.Title</h3>
                        <p>@item.TicketPrice</p>
                    </div>

                </div>
            </div>

            if (i % 3 == 2)
            {
            @:</div>
        }

    }
</div>